In [4]:
import pandas as pd 
import numpy as np

In [5]:
df=pd.read_csv('zomato.csv')

In [6]:
df.sample(5)

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
36566,https://www.zomato.com/bangalore/watheen-nuts-...,"01, 100 Feet Ring Road, 1st Phase, BTM 2nd sta...",Watheen Nuts,No,No,NaN,0,NaN,BTM,"Takeaway, Delivery",NaN,Desserts,400,[],[],Desserts,Koramangala 7th Block
14339,https://www.zomato.com/bangalore/kairali-resta...,"Vinayak Nagar, Opposite Electro Park Apartment...",Kairali Restaurant,Yes,No,3.4/5,19,+91 8050137720,Electronic City,Quick Bites,NaN,"Kerala, South Indian",400,"[('Rated 5.0', 'RATED\n This is purely a kera...",[],Dine-out,Electronic City
1684,https://www.zomato.com/bangalore/ministry-of-b...,"No 121/1, Abhinandana Complex, Manipal Country...",Ministry of Burger,Yes,No,NaN,0,+91 8750482000\r\n+91 9910009994,Electronic City,Delivery,NaN,Continental,500,[],[],Delivery,Bannerghatta Road
35050,https://www.zomato.com/bangalore/mad-over-donu...,"G 6, Ground Floor, Money Centre, 80 Feet Road,...",Mad Over Donuts,Yes,No,4.2 /5,704,+91 8033166397\n+91 8067266398,Koramangala 7th Block,Dessert Parlor,"Donut, Latte, Coffee, Choco Bomb, Hot Chocolat...","Bakery, Desserts, Beverages",450,"[('Rated 3.0', 'RATED\n I would say the Donut...","['Kitkat Special', 'Kitkat Special', 'Classic ...",Delivery,Koramangala 7th Block
986,https://www.zomato.com/bangalore/biryani-durba...,"452, 2nd Main, 8th Cross, Lakshmi Layout, Mico...",Biryani Durbar,Yes,No,3.7/5,128,080 49652102,Bannerghatta Road,"Takeaway, Delivery","Chicken Biryani, Chicken Kebab","Biryani, North Indian",400,"[('Rated 4.0', 'RATED\n Durbar Special Chicke...","['Jeera Rice and Paneer 65 Combo', 'Chicken Bi...",Delivery,Bannerghatta Road

In [7]:
print('shape of data: row and columns',*df.shape),
#df.columns

pd.DataFrame(data=[df.isnull().sum(),df.nunique(),df.isnull().sum()/51717*100]).T

shape of data: row and columns 51717 17

                                   0        1          2
url                              0.0  51717.0   0.000000
address                          0.0  11495.0   0.000000
name                             0.0   8792.0   0.000000
online_order                     0.0      2.0   0.000000
book_table                       0.0      2.0   0.000000
rate                          7775.0     64.0  15.033741
votes                            0.0   2328.0   0.000000
phone                         1208.0  14926.0   2.335789
location                        21.0     93.0   0.040606
rest_type                      227.0     93.0   0.438927
dish_liked                   28078.0   5271.0  54.291626
cuisines                        45.0   2723.0   0.087012
approx_cost(for two people)    346.0     70.0   0.669026
reviews_list                     0.0  22513.0   0.000000
menu_item                        0.0   9098.0   0.000000
listed_in(type)                  0.0      7.0   0.000000
listed_in(city)                  0.0     30.0   0.000000

In [8]:
# first remove the redundant column 
df.drop(['dish_liked','phone','url','name'],axis=1)

,address,online_order,book_table,rate,votes,location,rest_type,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Yes,No,4.1/5,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,"1112, Next to KIMS Medical College, 17th Cross...",Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",No,No,3.7/5,88,Banashankari,Quick Bites,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",No,No,3.8/5,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51712,"Four Points by Sheraton Bengaluru, 43/3, White...",No,No,3.6 /5,27,Whitefield,Bar,Continental,"1,500","[('Rated 5.0', ""RATED\n Food and service are ...",[],Pubs and bars,Whitefield
51713,"Number 10, Garudachar Palya, Mahadevapura, Whi...",No,No,NaN,0,Whitefield,Bar,Finger Food,600,[],[],Pubs and bars,Whitefield
51714,Sheraton Grand Bengaluru Whitefield Hotel & Co...,No,No,NaN,0,Whitefield,Bar,Finger Food,"2,000",[],[],Pubs and bars,Whitefield
51715,Sheraton Grand Bengaluru Whitefield Hotel & Co...,No,Yes,4.3 /5,236,"ITPL Main Road, Whitefield",Bar,Finger Food,"2,500","[('Rated 4.0', 'RATED\n Nice and friendly pla...",[],Pubs and bars,Whitefield
51716,"ITPL Main Road, KIADB Export Promotion Industr...",No,No,3.4 /5,13,"ITPL Main Road, Whitefield","Bar, Casual Dining","Finger Food, North Indian, Continental","1,500","[('Rated 5.0', 'RATED\n Great ambience , look...",[],Pubs and bars,Whitefield

In [9]:
for i in range(20,50):
    print(*df.loc[i,['address','listed_in(city)']],sep='----')

146, 50 ft Road, 3rd Phase, 3rd Stage, Near Katriguppe Water Tank Circle, Banashankari, Bangalore----Banashankari
3353, 2nd Cross, Opposite Auden School, Hoskerehalli Cross, 3rd Stage, Banashankari, Bangalore----Banashankari
SRF Complex, Near BDA Complex, Kathreguppe Main Road, Banashankari, Bangalore----Banashankari
224/Y, 4th Phase, 7th Block, 100 Feet Ring Road, Near Kamakya Theatre, Banashankari, Bangalore----Banashankari
775/1, Opposite Gupta Collage, 7th Block, 3rd Stage, Banashankari, Bangalore----Banashankari
101, Water Tank Road, 2nd Block, 3rd Stage, Banashankari, Bangalore----Banashankari
27th Cross Rd, Banashankari Stage II, Banashankari, Bangalore----Banashankari
1036, Srinidhi Plaza, 3rd floor, Above Nilgiris, Stage 2, Banashankari, Bangalore----Banashankari
940, Shantha Complex, 20th Main, 2nd Stage, Banashankari, Bangalore----Banashankari
112, Bull Temple Road,next to more Basavanagudi, Bangalore----Banashankari
30, Surveyor Street, DVG Road, Basavanagudi, Bangalore----Banashankari
2/1, 7th Main, Dwarakangar, Hosakeregalli, Banashankari, Bangalore----Banashankari
101 Ground Floor, Manjunatha Complex, 22nd Main Road, Banashankari, Bangalore----Banashankari
101, Ground Floor, Manjunatha Complex, 22nd Main Road, 2nd Stage, Banashankari, Bangalore----Banashankari
80, BDA Complex, 2nd Stage, Banashankari, Bangalore----Banashankari
101, Ground Floor, Manjunatha Complex, 22nd Main Road, 2nd Stage, Banashankari, Bangalore----Banashankari
32, 7th Main Road, Dwaraka Nagar,Near PES College, Banashankari, Bangalore----Banashankari
8, 2nd Floor, 1st Main, Arush Trapeze, Mount Joy Road, Behind BMS College of Engineering, Hanumanthnagar, Banashankari, Bangalore----Banashankari
4, Opposite NMKRV College, 21st C Cross Road, 3rd Block, Jayanagar, Bangalore----Banashankari
556/A, Water Tank Road, 3rd Stage, Banashankari, Bangalore----Banashankari
39, 3rd Main,4th Cross, Hanumanth Nagar, Near, Basavanagudi, Bangalore----Banashankari
Opp Vinayaka hospital, Near Seetha Circle , 80 Feet Road, Banashankari, Bangalore----Banashankari
2466, Bhaskar Grand Tower, 24th Cross, Opposite BDA Complex, Banashankari, Bangalore----Banashankari
645, 1st Floor, 24th Cross, 24th Main, 2nd Stage, Banashankari, Bangalore----Banashankari
2469, 3rd Floor, 24th Cross, Opposite BDA Complex, 2nd Stage, Banashankari, Bangalore----Banashankari
2nd Stage, Banashankari, Bangalore----Banashankari
1750, 14th Main, Police Station Road, Kumaraswamy Layout, Bangalore----Banashankari
1621, 1st Floor, 50 Feet Main Road, Kumaraswamy Layout, Bangalore----Banashankari
179, 1st Floor, Jawarlalnehru Road, BEML Layout, Rajarajeshwari Nagar, Bangalore----Banashankari
1607, Sagar Hospital Road, Near Dayanandasagar College, Kumaraswamy Layout, Bangalore----Banashankari